@charset "UTF-8";
body{
  // background:#ff0;
  font-size: 13px;
}


.search-bar{
  margin: 20px;
  text-align: center;
  input {
    width: 75%;
    img{
      max-width: 64px;
    }
  }
}


.video-detail{
  .details{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}
